<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'deep_learning/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'deep_learning/css/main.css' %}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My dashboard</title>



</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Title Here</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown Title
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            {% if user.is_authenticated %}
            <div id="logout_button">
                <a href="{% url 'logout' %}">LogOut</a>
            </div>
            {% else %}
            <div id="login_button">
                <a href="{% url 'login' %}">Login</a>
            </div>
            {% endif %}
        </div>
    </nav>
    {% block main %}
    {% endblock %}
    {% block login %}
    {% endblock %}
    </div>
</div>
    <script src="{% static 'deep_learning/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'deep_learning/js/feather.min.js' %}"></script>
    <script>
        feather.replace()
    </script>

</body>
</html>